extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row")
        - 
            let results = [
                {
                "wood_Name" : "Purpleheart Wood",
                "wood_Type" : "hardwoods",
                "wood_Cost" : $40
                },
                {
                "wood_Name" : "Bubinga",
                "wood_Type" : "African hardwood",
                "wood_Cost" : $19
                },
                {
                "wood_Name" : "Cocobolo Wood",
                "wood_Type" : "tropical hardwood",
                "wood_Cost" : $600
                },

            ]
        each w,index in results
            div(class="col-sm-2" onclick=`buy(${index})`) #{w.wood_Name}<br><br>
            div(class="col-sm-2" onclick=`buy(${index})`) #{w.wood_Type}
            div(class="col-sm-2" onclick=`buy(${index})`) #{w.wood_Cost}

            script.                
                      function buy(wooditem)
                      {
                            alert(`You purchased item ${wooditem+1}`)
                            document.getElementByClass("row").style.cursor = "cursor";
                      }